In [5]:
import pandas as pd
import numpy as np

In [4]:
nan = pd.read_csv('../../../stock/루닛 모델링.csv')

In [6]:
nan['newslabel'] = np.where(nan['sentiment_score'].notna(), nan['sentiment_score'].apply(lambda x: 1 if x > 0 else (0 if x == 0 else -1)), np.nan)

random_values = [-1, 0, 1]
nan['newslabel'] = nan['sentiment_score'].apply(lambda x: np.random.choice(random_values) if pd.isna(x) else (1 if x > 0 else (0 if x == 0 else -1)))
nan

,종목코드,종목명,날짜,시간,시가,고가,저가,종가,거래량,SMA5,SMA20,UPPER,MAVG,LOWER,RSI,MACD,AROONUP,AROONDN,sentiment_score,newslabel
0,A328130,루닛,20220721,1530,40000.0,40000.0,40000.0,40000.0,3586045.0,39890.0,39770.0,40251.196668,39885.0,39518.803332,50.000000,47.793017,50.000000,100.000000,4.0,1
1,A328130,루닛,20220721,1520,39800.0,40000.0,39500.0,40000.0,3586045.0,39890.0,39770.0,40251.196668,39885.0,39518.803332,50.000000,47.793017,50.000000,100.000000,11.0,1
2,A328130,루닛,20220721,1519,39750.0,39950.0,39550.0,39850.0,3543452.0,39890.0,39770.0,40251.196668,39885.0,39518.803332,50.000000,47.793017,50.000000,100.000000,0.0,0
3,A328130,루닛,20220721,1518,39850.0,40000.0,39700.0,39750.0,3528384.0,39890.0,39770.0,40251.196668,39885.0,39518.803332,50.000000,47.793017,50.000000,100.000000,-1.0,-1
4,A328130,루닛,20220721,1517,39750.0,40000.0,39700.0,39850.0,3488063.0,39890.0,39770.0,40251.196668,39885.0,39518.803332,50.000000,47.793017,50.000000,100.000000,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90221,A328130,루닛,20230717,905,172200.0,174300.0,171100.0,173800.0,37178.0,175100.0,176960.0,181501.311193,177735.0,173968.688807,33.349690,-629.020578,100.000000,42.857143,NaN,-1
90222,A328130,루닛,20230717,904,174000.0,174000.0,172000.0,172200.0,30125.0,174220.0,176240.0,181971.579406,177515.0,173058.420594,28.631469,-917.030007,92.857143,35.714286,NaN,0
90223,A328130,루닛,20230717,903,174100.0,174500.0,173600.0,174000.0,19916.0,173660.0,175640.0,182063.173029,177350.0,172636.826971,39.074422,-988.638192,85.714286,28.571429,NaN,-1
90224,A328130,루닛,20230717,902,174600.0,175100.0,173000.0,174400.0,14557.0,173620.0,175180.0,181961.190330,177130.0,172298.809670,41.135719,-1001.566107,78.571429,21.428571,NaN,1
90225,A328130,루닛,20230717,901,177000.0,177000.0,173000.0,173400.0,10437.0,173560.0,174750.0,181720.882423,176805.0,171889.117577,37.701527,-1080.053036,71.428571,14.285714,NaN,1

In [10]:
nan.to_csv('../../../stock/루닛 모델링 최종.csv', encoding='cp949')